<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="full" (click)="setIsOpen(true)"
                >Create a new task</ion-button
              >
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-searchbar
              color="light"
              [debounce]="1000"
              placeholder="Search"
              (ionInput)="searchTask($event)"
            />
          </ion-row>

          <ion-list *ngIf="tasks.length" style="margin-top: 1rem">
            <ion-item *ngFor="let task of tasks">
              <div class="item">
                <ion-label>{{task.Title}}</ion-label>
                <ion-card-subtitle> {{task.Description}} </ion-card-subtitle>

                <div class="footer">
                  <ion-toggle
                    size="small"
                    [checked]="task.IsDone"
                    (ionChange)="updateTask($event,task.Id)"
                    >Done</ion-toggle
                  >
                  <ion-button color="white" (click)="removeTask(task.Id)">
                    <ion-icon
                      slot="icon-only"
                      name="trash"
                      color="danger"
                      size="large"
                    ></ion-icon>
                  </ion-button>
                </div>
              </div>
            </ion-item>
          </ion-list>

          <ion-item *ngIf="!tasks.length" style="text-align: center">
            <ion-label>No data matching filter</ion-label>
          </ion-item>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-modal [isOpen]="isOpenModal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Create new task modal</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" *ngIf="createTaskForm">
          <form [formGroup]="createTaskForm" (submit)="onSubmit()">
            <ion-list>
              <ion-item>
                <ion-input
                  label="Title"
                  placeholder="Enter your task title"
                  formControlName="Title"
                  required
                  maxlength="50"
                  errorText="Title is required"
                >
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-textarea
                  label="Description"
                  maxlength="500"
                  formControlName="Description"
                ></ion-textarea>
              </ion-item>

              <ion-item>
                <ion-input
                  label="Order"
                  type="number"
                  placeholder="Enter your number order"
                  formControlName="Order"
                  required
                  min="0"
                >
                </ion-input>
              </ion-item>
            </ion-list>

            <ion-buttons class="footer">
              <ion-button slot="end" fill="outline" (click)="setIsOpen(false)"
                >Close</ion-button
              >
              <ion-button
                slot="end"
                fill="solid"
                type="submit"
                [disabled]="!createTaskForm.valid"
                >Save</ion-button
              >
            </ion-buttons>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
